<h1>C'est la page About</h1>
{{test}}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, numquam deserunt. Repellendus incidunt aperiam quam error ratione beatae laudantium velit labore, doloribus, ad rerum, voluptate quo animi at dolores distinctio.</p>

{{>footer}}